
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;

}
.main{
    background: linear-gradient(105.18deg, #1E3C72 -2.04%, #2A5298 107.42%);
    width: auto;
    height: 650px;
    border-radius: 0 0 150px 0;
}

.myNav{
    width: 100% !important;
    background-color: #1E3C72;
    z-index: 9999;
    padding: 20px 100px !important;
}
.hero{
    padding-top: 130px !important;
}
.iqons
{
    width: 1251px;
    height: 50px;
    top: 21px;
    left: 335px;
    gap: 0px;
    border-radius: 50px 0px 0px 0px;
    opacity: 0px;

}
.div-stayl
{
    display: flex;
    width: 200px;
    height: 18px;   
}
.button
{ 
    text-align: center;
    padding: 10px;
    color:black;
    background-color: aliceblue;
    border-radius: 50px;
    border: 1.5px solid black;
 
}
.mainDiv{
   display: flex; 
   width: 80%;
   margin: 0 auto;
}
.firstchild{
    width: 65%;
}
.secondchild{
    width: 55%;
    position: relative;
}
.secondchild img:first-child{
    position: absolute;
    top: 0;
    right: 50px;    
    width: 45%;

}
.secondchild img:last-child{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 400px;
}
.btnplay{
    display: inline;
}
.button-play
{
    margin-left: 10px;
    text-align: center;
    color: aliceblue;
    display:flex;
}
.buttons{
    display: flex;
    align-items:center;
}
.info
{
    text-align: center;
    border-color: black;
    width: 995px;
    height: 469.5px;
    top: 1065px;
    left: 463px;
    gap: 0px;
    opacity: 0px;
}
.about{
    width: auto;
    height: 650px;
    border-radius: 0 0 150px 0;
}
.about-div
{
    text-align: center;
}
.about-divs
{
    display: flex;
    text-align: center;
    justify-content: center;
}
.about-dis-text
{
    height: 100px;
    width: 100px;
    border-radius: 30px;
    border-width: 2px rgb(0,0,0);
    background-color:rgb(130, 255, 176);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 30px;
}

/* page3 */

.container_phone_page{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 98px;

}
.container_phone_page h1{
    color : black
}

.container_phone_page .items{
    width: 540px;
}
.container_phone_page .title{
    font-size: 14px;
    font-weight: 600;
    font-family: Poppins;
}

.container_phone_page .subtitle{
    font-size: 48px;
    font-weight: 700;
    font-family: Poppins;
}

.container_phone_page .items .item_card{
    margin-top: 54px;

    display: flex;
    justify-content: center;
    align-items: start  ;
    gap: 18px;
}

.container_phone_page .items .item_card .icon_card{
    width:100px;
    height:57px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 15px;

    background-color: rgba(255, 65, 109, 0.36);
}

.container_phone_page .items .item_card .item_card_items .hh1{
    font-size: 18px;
    font-weight: 500;
    color : black;
    margin-bottom:20px ;

}
